/* Dashboard.css */
/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #1E1E2D;
    border-radius: 30px;
}

/* Add more padding to the top */
body {
    padding-top: 30px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .MuiBox-root {
        flex-direction: column;
        padding: 10px; /* Add padding for mobile */
    }
  
    .MuiPaper-root {
        min-width: 100% !important;
        margin-bottom: 10px; /* Add margin for spacing */
    }

    .MuiTypography-h6 {
        font-size: 1.2rem; /* Adjust font size for headings */
    }

    .MuiButton-contained {
        width: 100%; /* Make buttons full width */
    }
}